---
import DefaultLayout from "../../layouts/default.astro";
---

<DefaultLayout title="Naviget Terms and Conditions">
    <div
        class="border-default p-6 mx-auto w-full max-w-7xl tracking-wider justify-around md:p-12"
    >
        <h1 class="mb-4 text-4xl tracking-tight text-heading md:text-6xl">
            Naviget Terms and Conditions
        </h1>

        <p class="font-normal text-body mb-3">Effective Date: 5 May 2025</p>

        <p class="md:text-lg font-normal text-body">
            Welcome to Naviget, operated by StepZero Labs Private Limited
            (“Naviget,” “we,” “our,” or “us”). These Terms and Conditions
            (“Terms”) govern your use of the Naviget mobile app and website
            https://naviget.in (collectively, the “Service”).
        </p>

        <p class="md:text-lg font-normal text-body">
            By accessing or using Naviget, you agree to be bound by these Terms.
            If you do not agree, please do not use the Service.
        </p>

        <h2 class="text-heading text-3xl mb-2 mt-4">1. Eligibility</h2>

        <p class="md:text-lg font-normal text-body">
            You must be at least 14 years old to use Naviget. If you are under
            18, you must have parental or legal guardian consent to use the
            Service.
        </p>

        <h2 class="text-heading text-3xl mb-2 mt-4">2. Account Creation</h2>

        <p class="md:text-lg font-normal text-body">
            To use certain features like booking rides or comparing fares, you
            must create an account using a valid mobile phone number. You may
            also be asked to provide:
        </p>

        <ul class="list-disc list-inside md:text-lg font-normal text-body">
            <li>A Your name</li>

            <li>A password or OTP (one-time password)</li>
        </ul>

        <p class="md:text-lg font-normal text-body">
            You are responsible for keeping your account secure and ensuring the
            information is accurate. Do not share your login credentials.
        </p>

        <h2 class="text-heading text-3xl mb-2 mt-4">
            3. Features of the Service
        </h2>

        <p class="md:text-lg font-normal text-body">Naviget offers:</p>

        <ul class="list-disc list-inside md:text-lg font-normal text-body">
            <li>
                Ride booking through integrated partners or redirection to
                third-party services
            </li>
            <li>
                Ride tracking, history, receipts, and carbon footprint analytics
            </li>
            <li>
                Ride fare comparison across cab, auto, and public transport
                providers
            </li>
            <li>
                Language and payment preference settings for a personalized
                experience
            </li>
        </ul>

        <p class="md:text-lg font-normal text-body">
            You agree to use these features responsibly and lawfully.
        </p>

        <h2 class="text-heading text-3xl mb-2 mt-4">4. Location Access</h2>

        <p class="md:text-lg font-normal text-body">
            With your permission, Naviget collects real-time GPS location data
            to:
        </p>
        <ul class="list-disc list-inside md:text-lg font-normal text-body">
            <li>Show accurate fare comparisons</li>
            <li>Match you with nearby service providers</li>
            <li>Suggest pickup/drop locations and improve routing</li>
        </ul>

        <p class="md:text-lg font-normal text-body">
            You can disable location access at any time via device settings,
            though this may limit app functionality.
        </p>

        <h2 class="text-heading text-3xl mb-2 mt-4">
            5. Payments and Transactions
        </h2>

        <p class="md:text-lg font-normal text-body">Naviget may:</p>

        <ul class="list-disc list-inside md:text-lg font-normal text-body">
            <li>Support direct payments or link you to a provider’s app</li>
            <li>Display fare estimates from integrated ride partners.</li>
            <li>
                Use third-party processors to confirm successful or failed
                transactions.
            </li>
        </ul>

        <p class="md:text-lg font-normal text-body">
            All payments are subject to the respective provider’s policies.
            Naviget is not responsible for third-party pricing or payment
            disputes.
        </p>

        <h2 class="text-heading text-3xl mb-2 mt-4">6. Privacy</h2>

        <p class="md:text-lg font-normal text-body">
            We value your privacy. Please refer to our full Privacy Policy to
            understand how your data is collected, used, and shared. We do not
            sell your personal data.
        </p>

        <h2 class="text-heading text-3xl mb-2 mt-4">7. Third-Party Services</h2>

        <p class="md:text-lg font-normal text-body">
            Naviget integrates with third-party providers, including:
        </p>

        <ul class="list-disc list-inside md:text-lg font-normal text-body">
            <li>Cab aggregators</li>
            <li>Auto unions</li>
            <li>Public transport ticketing systems</li>
            <li>Payment and analytics vendors</li>
        </ul>

        <p class="md:text-lg font-normal text-body">
            We only share necessary data to facilitate services and improve the
            app.
        </p>

        <h2 class="text-heading text-3xl mb-2 mt-4">
            8. Termination and Account Suspension
        </h2>

        <p class="md:text-lg font-normal text-body">
            We may suspend or terminate your access:
        </p>

        <ul class="list-disc list-inside md:text-lg font-normal text-body">
            <li>If you violate these Terms</li>
            <li>If we detect suspicious or harmful activity</li>
            <li>As required by law</li>
        </ul>

        <p class="md:text-lg font-normal text-body">
            You may also delete your account at any time within the app.
        </p>

        <h2 class="text-heading text-3xl mb-2 mt-4">
            9. Intellectual Property
        </h2>

        <p class="md:text-lg font-normal text-body">
            All trademarks, logos, content, and technology used in Naviget are
            owned by StepZero Labs Private Limited or our licensors. You may not
            reproduce, copy, or distribute them without permission.
        </p>

        <h2 class="text-heading text-3xl mb-2 mt-4">
            10. Disclaimer and Liability
        </h2>

        <p class="md:text-lg font-normal text-body">
            Naviget is a platform and does not directly operate rides. We are
            not liable for:
        </p>

        <ul class="list-disc list-inside md:text-lg font-normal text-body">
            <li>Ride delays, cancellations, or service quality issues</li>
            <li>Damages arising from third-party services</li>
            <li>Losses from technical errors or service outages</li>
        </ul>

        <p class="md:text-lg font-normal text-body">
            You use Naviget at your own risk.
        </p>

        <h2 class="text-heading text-3xl mb-2 mt-4">11. Changes to Terms</h2>

        <p class="md:text-lg font-normal text-body">
            We may update these Terms periodically. You’ll be notified via
            in-app messages or email. Continued use after changes indicates your
            acceptance. The latest version will always be available at
            https://naviget.in
        </p>

        <h2 class="text-heading text-3xl mb-2 mt-4">12. Governing Law</h2>
        <p class="md:text-lg font-normal text-body">
            These Terms are governed by Indian law. Any disputes will be subject
            to the jurisdiction of courts in Bangalore, Karnataka.
        </p>

        <h2 class="text-heading text-3xl mb-2 mt-4">13. Contact Us</h2>
        <p class="md:text-lg font-normal text-body">
            <a href="mailto:hello@naviget.in">hello@naviget.in</a>
            Website:<a href="https://naviget.in"> https://naviget.in</a>
        </p>
    </div>
</DefaultLayout>
