@import "tailwindcss";

@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";

@source "../../node_modules/flowbite";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: QuincyCF;
    src: url("/fonts/Quincy-CF-Regular.ttf");
}

@font-face {
    font-family: MBCorpo;
    src: url("fonts/MBCorpoATextCond-Regular-Web.woff2");
}

@theme {
    --font-serif: "QuincyCF", var(--default-font-family);
}

.font-mbcorpo {
    font-family: MBCorpo, var(--default-font-family);
}

.center-image {
    width: 25rem;
    height: 25rem;
    filter: saturate(120%);
    margin: 0rem 0.5rem 0rem 0rem;
}

@media (width >= 64rem) {
    .center-image {
        width: 35rem;
    }
}

.side-image {
    width: 4rem;
    border-radius: 100px;
    height: 20rem;
    margin: 0rem 0.5rem 0rem 0rem;
}
