---
import DefaultLayout from "../layouts/default.astro";
---

<DefaultLayout title="Naviget - About Us">
    <div class="py-6 px-4 mx-auto max-w-7xl lg:pt-16">
        <div
            class="bg-neutral-secondary-soft border border-default rounded-base p-8 md:p-12 grid lg:grid-cols-2 gap-8 items-center"
        >
            <h1 class="text-4xl md:text-6xl text-heading">
                Meet the Team behind Naviget
            </h1>
            <img
                class="rounded-base"
                src="/images/team.webp"
                alt="Team Naviget"
            />
        </div>
    </div>
</DefaultLayout>
