---
import DefaultLayout from "../layouts/default.astro";
---

<DefaultLayout title="Naviget - AI powered ride bookings">
    <section>
        <div class="h-[90vh] py-10 px-1 max-w-7xl mx-auto">
            <div class="text-white text-center">
                <span
                    class="bg-neutral-secondary-soft border p-5 rounded-4xl inline-block"
                >
                    Announcing Naviget MCP Server
                </span>
            </div>

            <div
                class="text-white text-7xl md:text-8xl font-semibold text-center mt-10"
            >
                <h1>Book Cabs from Enterprise Chatbots</h1>
            </div>

            <div class="text-blue-200 text-2xl text-center mt-5">
                Ride bookings for corporates is broken.<br />
                Companies needs to keep manage multiple vendors across multiple cities.<br
                />
                No app, No webapp, all manual.
            </div>
            <div class="text-white text-3xl text-center mt-8 font-semibold">
                Your enterprise chatbot, now with wheels
                <br />
            </div>
            <div class="text-center mt-10">
                <a
                    class="relative inline-block items-center justify-center text-heading rounded-4xl bg-linear-to-br from-green-400 to-blue-600 p-0.5"
                    href="https://forms.gle/GztF8wQfcrVbRhHGA"
                    title="Join Naviget MCP waitlist"
                >
                    <span
                        class="relative p-4 bg-neutral-primary-soft rounded-4xl inline-block text-4xl"
                    >
                        Join Waitlist -&gt;
                    </span>
                </a>
            </div>
        </div>
    </section>
    <section>
        <div class="py-10 max-w-7xl mx-auto px-4 lg:px-0">
            <h2 class="text-white text-5xl font-light mb-5">
                What does Naviget MCP do?
            </h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mb-5">
                <div
                    class="text-white text-2xl border border-default rounded-4xl p-10"
                >
                    Your corporate cabs are synced and available across LLMs,
                    chatbots, Naviget app, and Naviget webapp.
                </div>
                <div
                    class="text-white text-2xl border border-default rounded-4xl p-10"
                >
                    Book from anywhere chatbot, mobile app or website.
                    Everything is accurately billed to your organisation.
                </div>

                <div
                    class="text-white text-2xl border border-default rounded-4xl p-10"
                >
                    Whole naviget premium fleet available for anyone to book
                    from.
                </div>

                <div
                    class="text-white text-2xl border border-default rounded-4xl p-10"
                >
                    Whole ecosystem integrations such as flight tracking and
                    smart re-scheduling.
                </div>
            </div>
            <div class="bg-blue-50 rounded-4xl p-5">
                <img class="" src="/images/naviget-mcp-engine.svg" />
            </div>
        </div>
    </section>
</DefaultLayout>
