---
import DefaultLayout from "../layouts/default.astro";
---

<DefaultLayout title="Naviget - Contact">
    <div class="py-6 px-4 mx-auto max-w-7xl lg:py-16">
        <div
            class="bg-neutral-secondary-soft border border-default rounded-base p-8 md:p-12 grid lg:grid-cols-2 gap-8 items-center min-h-[60vh]"
        >
            <div>
                <h1 class="text-5xl md:text-6xl text-heading">Contact Us</h1>
                <p class="text-body ml-3">
                    For support, questions or parternships
                </p>
            </div>

            <div
                class="min-h-[20vh] rounded-base border-white/20 text-white grid grid-cols-1 text-xl"
            >
                <div>
                    <div>Phone</div>
                    <div>+91 6203637044</div>
                </div>

                <div>
                    <div>Email</div>
                    <div>hello@naviget.in</div>
                </div>
            </div>
        </div>
    </div>
</DefaultLayout>
