---
import DefaultLayout from "../layouts/default.astro";
---

<DefaultLayout title="Naviget - Contact">
    <div class="bg-linear-to-b to-10% pb-6 px-4 lg:pb-16 pt-[10vh]">
        <div
            class="max-w-7xl p-8 md:p-12 grid lg:grid-cols-2 gap-8 mx-auto items-center min-h-[60vh]"
        >
            <div class="font-serif">
                <h1 class="text-5xl md:text-6xl text-heading">Contact Us</h1>
                <p class="text-body text-xl">
                    For support, questions or parternships
                </p>
            </div>

            <div
                class="min-h-[20vh] rounded-base border-white/20 grid grid-cols-1 text-xl"
            >
                <div>
                    <div class="font-serif underline">Phone</div>
                    <div>+91 7481832657</div>
                </div>

                <div>
                    <div class="font-serif mt-3 underline">Email</div>
                    <div>hello@naviget.in</div>
                </div>

                <div>
                    <div class="font-serif mt-3 underline">Address</div>
                    <div>
                        4th Floor, 648/A, Binnamangala 1st Stage, Indranagar,
                        Bengaluru, Karnataka - 560038
                    </div>
                </div>
            </div>
        </div>
    </div>
</DefaultLayout>
