---
import DefaultLayout from "../layouts/default.astro";
---

<DefaultLayout title="Naviget - Airport Rides">
    <section>
        <div class="py-6 px-4 mx-auto max-w-7xl lg:py-16">
            <div
                class="bg-neutral-secondary-soft border border-default rounded-base p-8 md:p-12 mb-8 grid lg:grid-cols-2 gap-8"
            >
                <div>
                    <div
                        class="bg-brand-softer border border-brand-subtle text-fg-brand-strong px-1.5 py-1 md:py-0.5 rounded-sm text-sm md:text-lg"
                    >
                        <svg
                            fill="currentColor"
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="24px"
                            height="24px"
                            viewBox="0 0 48.997 48.998"
                            xml:space="preserve"
                            class="inline mb-0.5"
                        >
                            <g>
                                <path
                                    d="M45.961,18.702c-0.033-0.038-0.061-0.075-0.1-0.112l-1.717-1.657c1.424-0.323,2.957-1.516,2.957-2.74 c0-1.426-1.979-1.932-3.668-1.932c-1.766,0-1.971,1.21-1.992,2.065l-4.43-4.271c-0.9-0.891-2.607-1.592-3.883-1.592H24.5h-0.002 h-8.63c-1.275,0-2.981,0.701-3.882,1.592l-4.429,4.271c-0.023-0.855-0.228-2.065-1.992-2.065c-1.691,0-3.669,0.506-3.669,1.932 c0,1.224,1.534,2.417,2.958,2.74l-1.717,1.657c-0.039,0.037-0.066,0.074-0.1,0.112C1.2,20.272,0,23.184,0,25.297v6.279 c0,1.524,0.601,2.907,1.572,3.938v2.435c0,1.424,1.192,2.585,2.658,2.585h3.214c1.466,0,2.657-1.159,2.657-2.585v-0.623h14.397 H24.5h14.396v0.623c0,1.426,1.19,2.585,2.658,2.585h3.213c1.467,0,2.657-1.161,2.657-2.585v-2.435 c0.972-1.031,1.572-2.414,1.572-3.938v-6.279C48.998,23.184,47.798,20.272,45.961,18.702z M13.613,11.953 c0.623-0.519,1.712-0.913,2.255-0.913h8.63H24.5h8.63c0.543,0,1.632,0.394,2.255,0.913l5.809,5.63H24.5h-0.002H7.805L13.613,11.953 z M1.993,24.347c0-1.546,1.21-2.801,2.704-2.801c1.493,0,6.372,2.864,6.372,4.41s-4.879,1.188-6.372,1.188 C3.203,27.144,1.993,25.894,1.993,24.347z M10.102,34.573H9.587H9.072l-3.055,0.005c-0.848-0.264-1.446-0.572-1.869-0.903 c-0.214-0.167-0.378-0.341-0.506-0.514c-0.129-0.175-0.223-0.347-0.284-0.519c-0.38-1.074,0.405-2.061,0.405-2.061h5.214 l3.476,3.99L10.102,34.573L10.102,34.573z M31.996,34.575H24.5h-0.002h-7.496c-1.563,0-2.832-1.269-2.832-2.831h10.328H24.5h10.328 C34.828,33.308,33.559,34.575,31.996,34.575z M32.654,29.812H24.5h-0.002h-8.154c-1.7,0-3.08-2.096-3.08-4.681h11.234H24.5h11.234 C35.734,27.717,34.354,29.812,32.654,29.812z M45.641,32.644c-0.062,0.172-0.156,0.344-0.285,0.518 c-0.127,0.173-0.291,0.347-0.506,0.514c-0.422,0.331-1.021,0.641-1.869,0.903l-3.055-0.005h-0.515h-0.515h-2.353l3.478-3.99h5.213 C45.234,30.583,46.02,31.568,45.641,32.644z M44.301,27.144c-1.492,0-6.371,0.356-6.371-1.188s4.879-4.41,6.371-4.41 c1.494,0,2.704,1.255,2.704,2.801C47.005,25.892,45.795,27.144,44.301,27.144z"
                                ></path>
                            </g>
                        </svg>
                        <span class="ml-1">
                            Now Serving Delhi and Bangalore Airport!
                        </span>
                    </div>
                    <h1
                        class="text-heading tracking-tighter text-4xl md:text-5xl font-bold my-6 leading-10 md:leading-16"
                    >
                        Finally a Ride you can
                        <span
                            class="underline underline-offset-3 md:decoration-8 decoration-2 decoration-brand"
                            >Rely&nbsp;On</span
                        >
                    </h1>
                    <p class="md:text-lg font-normal text-body mb-6">
                        A cab booking app with
                        <span class="text-fg-brand capitalize">No Surge</span>,
                        <span class="text-fg-brand capitalize"
                            >no cancellations</span
                        >,
                        <span class="text-fg-brand capitalize"
                            >clean AC cars</span
                        >, and verified drivers, built for reliable daily and
                        airport rides.
                    </p>
                    <a
                        type="button"
                        class="inline-flex items-center justify-center text-white bg-brand hover:bg-brand-strong box-border border border-transparent focus:ring-4 focus:ring-brand-medium shadow-xs font-medium rounded-base text-base px-5 py-3 focus:outline-none"
                        href="https://download.naviget.in?website"
                    >
                        Get Now
                        <svg
                            class="w-4 h-4 ms-1.5 -me-0.5"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            fill="none"
                            viewBox="0 0 24 24"
                            ><path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M19 12H5m14 0-4 4m4-4-4-4"></path></svg
                        >
                    </a>
                </div>
                <div>
                    <img
                        class="rounded-2xl"
                        src="/images/rider.webp"
                        alt="Pre scheduled cabs on Naviget to travel with family and friends"
                    />
                </div>
            </div>

            <div
                class="bg-neutral-secondary-soft border border-default rounded-base p-8 md:p-12 grid lg:grid-cols-2 gap-8 items-center mt-8"
            >
                <h2 class="text-4xl md:text-6xl text-heading">
                    Everything you should know about Naviget
                </h2>

                <div
                    id="accordion-collapse"
                    data-accordion="collapse"
                    class="rounded-base border border-default overflow-hidden shadow-xs"
                >
                    <h2 id="accordion-collapse-heading-1">
                        <button
                            type="button"
                            class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-body rounded-t-base border border-t-0 border-x-0 border-b-neutral-primary-soft hover:text-heading hover:bg-neutral-secondary-medium gap-3 bg-neutral-primary-medium"
                            data-accordion-target="#accordion-collapse-body-1"
                            aria-expanded="true"
                            aria-controls="accordion-collapse-body-1"
                        >
                            <span class="capitalize text-left"
                                >What is Naviget?</span
                            >
                            <svg
                                data-accordion-icon
                                class="w-5 h-5 rotate-180 shrink-0"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                                ><path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m5 15 7-7 7 7"></path></svg
                            >
                        </button>
                    </h2>
                    <div
                        id="accordion-collapse-body-1"
                        class="hidden border border-s-0 border-e-0 border-t-0 border-b-default"
                        aria-labelledby="accordion-collapse-heading-1"
                    >
                        <div class="p-4 md:p-5">
                            <p class="mb-2 text-body">
                                Naviget is a reliable cab booking app created to
                                fix common ride-hailing problems like surge
                                pricing, cancellations, and inconsistent
                                service. By onboarding only verified cab
                                operators that meet strict quality standards,
                                Naviget delivers clean, on-time rides at
                                affordable prices.
                            </p>
                        </div>
                    </div>

                    <h2 id="accordion-collapse-heading-2">
                        <button
                            type="button"
                            class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-body border border-x-0 border-b-neutral-primary-soft border-t-0 hover:text-heading hover:bg-neutral-secondary-medium gap-3 bg-neutral-primary-medium"
                            data-accordion-target="#accordion-collapse-body-2"
                            aria-expanded="false"
                            aria-controls="accordion-collapse-body-2"
                        >
                            <span class="capitalize text-left"
                                >How Does Naviget Work?</span
                            >
                            <svg
                                data-accordion-icon
                                class="w-5 h-5 rotate-180 shrink-0"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                                ><path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m5 15 7-7 7 7"></path></svg
                            >
                        </button>
                    </h2>
                    <div
                        id="accordion-collapse-body-2"
                        class="hidden border border-s-0 border-e-0 border-t-0 border-b-default"
                        aria-labelledby="accordion-collapse-heading-2"
                    >
                        <div class="p-4 md:p-5">
                            <p class="mb-2 text-body">
                                Naviget aggregates premium fleet services only.
                                We partner with trusted local fleet operators
                                and niche mobility providers that focus on
                                service quality rather than scale. Each partner
                                goes through a rigorous quality check covering
                                vehicle condition, driver verification,
                                punctuality, and service consistency. You can
                                try our premium electric vehicle rides
                                comprising of BYD, Kia and MG vehicles. Get
                                clean, reliable, and transparently priced cab
                                rides every time.
                            </p>
                        </div>
                    </div>

                    <h2 id="accordion-collapse-heading-3">
                        <button
                            type="button"
                            class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-body hover:text-heading hover:bg-neutral-secondary-medium gap-3 border border-t-0 border-x-0 border-b-neutral-primary-soft bg-neutral-primary-medium"
                            data-accordion-target="#accordion-collapse-body-3"
                            aria-expanded="false"
                            aria-controls="accordion-collapse-body-3"
                        >
                            <span class="capitalize text-left"
                                >What makes Naviget different from other
                                ride-hailing apps?</span
                            >
                            <svg
                                data-accordion-icon
                                class="w-5 h-5 rotate-180 shrink-0"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                                ><path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m5 15 7-7 7 7"></path></svg
                            >
                        </button>
                    </h2>
                    <div
                        id="accordion-collapse-body-3"
                        class="hidden"
                        aria-labelledby="accordion-collapse-heading-3"
                    >
                        <div
                            class="p-4 md:p-5 border border-t-default border-b-0 border-x-0"
                        >
                            <p class="mb-2 text-body">
                                Unlike other ride-hailing apps where supply is
                                uncontrolled and ride quality can be
                                inconsistent, Naviget ensures reliability and
                                consistency with a unique approach. We follow a
                                Japanese-inspired model where drivers can only
                                join through verified fleet operators who pass
                                rigorous quality checks. This extra layer of
                                accountability guarantees clean cars,
                                professional drivers, and dependable rides every
                                time, so your experience is consistently
                                high-quality, ride after ride.
                            </p>
                        </div>
                    </div>

                    <h2 id="accordion-collapse-heading-4">
                        <button
                            type="button"
                            class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-body hover:text-heading hover:bg-neutral-secondary-medium gap-3 border border-t-0 border-x-0 border-b-neutral-primary-soft bg-neutral-primary-medium"
                            data-accordion-target="#accordion-collapse-body-4"
                            aria-expanded="false"
                            aria-controls="accordion-collapse-body-4"
                        >
                            <span class="capitalize text-left"
                                >Is It For Airport Rides Only?</span
                            >
                            <svg
                                data-accordion-icon
                                class="w-5 h-5 rotate-180 shrink-0"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                                ><path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m5 15 7-7 7 7"></path></svg
                            >
                        </button>
                    </h2>
                    <div
                        id="accordion-collapse-body-4"
                        class="hidden"
                        aria-labelledby="accordion-collapse-heading-4"
                    >
                        <div
                            class="p-4 md:p-5 border border-t-default border-b-0 border-x-0"
                        >
                            <p class="mb-2 text-body">
                                Currently, Naviget focuses on scheduled premium
                                airport rides, you can book an assured comfort
                                rides. Naviget will soon offer on-demand rides
                                more widely for all your everyday travel needs.
                            </p>
                        </div>
                    </div>

                    <h2 id="accordion-collapse-heading-5">
                        <button
                            type="button"
                            class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-body hover:text-heading hover:bg-neutral-secondary-medium gap-3 bg-neutral-primary-medium"
                            data-accordion-target="#accordion-collapse-body-5"
                            aria-expanded="false"
                            aria-controls="accordion-collapse-body-5"
                        >
                            <span class="capitalize text-left"
                                >How do I book a ride on Naviget?</span
                            >
                            <svg
                                data-accordion-icon
                                class="w-5 h-5 rotate-180 shrink-0"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                                ><path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m5 15 7-7 7 7"></path></svg
                            >
                        </button>
                    </h2>
                    <div
                        id="accordion-collapse-body-5"
                        class="hidden"
                        aria-labelledby="accordion-collapse-heading-5"
                    >
                        <div
                            class="p-4 md:p-5 border border-t-default border-b-0 border-x-0"
                        >
                            <p class="mb-2 text-body">
                                Simply open the app, enter your destination,
                                choose most suitable ride, and book with just a
                                few taps.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="bg-neutral-secondary-soft border border-default rounded-base p-8 md:p-12 mt-8"
            >
                <h2 class="text-heading text-3xl font-semobild my-4">
                    Our Partners
                </h2>

                <div
                    class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
                >
                    <div>
                        <img
                            class="h-auto max-w-full rounded-base"
                            src="/images/quickride_logo.png"
                            alt="Naviget partner Quickride premium electric Cabs"
                        />
                    </div>
                    <div>
                        <img
                            class="h-auto max-w-full rounded-base"
                            src="/images/pave_logo.webp"
                            alt="Naviget partner Pave electric cabs"
                        />
                    </div>
                    <div>
                        <img
                            class="h-auto max-w-full rounded-base"
                            src="/images/wega_cabs.png"
                            alt="Naviget partner Wega Cabs"
                        />
                    </div>
                    <div>
                        <img
                            class="h-auto max-w-full rounded-base"
                            src="/images/yellow_cabs.png"
                            alt="Naviget partner Namma Yellow Cabs"
                        />
                    </div>
                </div>
            </div>

            <div
                class="bg-neutral-secondary-soft border border-default rounded-base p-8 md:p-12 mt-8"
            >
                <h2 class="text-heading text-3xl font-semobild my-4">
                    Media Coverage
                </h2>
                <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
                    <div class="bg-white rounded-base">
                        <a
                            target="_blank"
                            rel="external nofollow"
                            href="https://indianexpress.com/article/cities/bangalore/book-ola-rapido-namma-yatri-rides-oji-india-first-interoperable-mobility-app-9470255/"
                        >
                            <img
                                class="h-auto max-w-full rounded-base"
                                src="/images/indian_express.webp"
                                alt="Indian Express News Article"
                            />
                        </a>
                    </div>
                    <div class="bg-white rounded-base">
                        <a
                            target="_blank"
                            rel="external nofollow"
                            href="https://www.moneycontrol.com/technology/now-oji-app-helps-commuters-compare-fares-across-multiple-ride-hailing-apps-article-12774979.html"
                        >
                            <img
                                class="h-auto max-w-full rounded-base"
                                src="/images/money_control.webp"
                                alt="Money Control News Article"
                            />
                        </a>
                    </div>
                </div>
            </div>

            <div
                class="grid md:grid-cols-2 border border-white/10 rounded-base p-8 md:p-12 mt-8 items-center gap-10 bg-[#151414]"
            >
                <div>
                    <h2 class="text-heading text-3xl font-semobild my-4">
                        Fair Fare, Meter Rides
                    </h2>
                    <p class="font-normal text-body mb-4 text-justify">
                        On every auto and cab ride you can now check the meter
                        price. Stop overpaying.<br />
                        <a
                            class="text-warning text-lg underline"
                            href="https://play.google.com/store/apps/details?id=in.naviget.driver"
                        >
                            Meter raja</a
                        >
                        is an app built by us that eliminates the need of physical
                        fare meters. All rates are up to date as per guidelines. Free
                        to use by drivers and passengers for all major cities.
                    </p>
                    <span
                        class="inline-flex items-center bg-warning/20 border border-warning-strong/50 text-fg-warning px-1.5 py-0.5 rounded-sm"
                    >
                        <svg
                            width="24px"
                            height="24px"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M12 7V12L14.5 13.5M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>

                        <span class="ml-2"
                            >Meter Ride Coming Soon in Delhi on Naviget!</span
                        >
                    </span>
                </div>
                <div class="bg-[#151414] rounded-base md:py-4">
                    <img
                        src="/images/meter_raja.png"
                        class="mx-auto"
                        alt="Meter Raja - Your smart digital fare meter"
                    />
                </div>
            </div>
        </div>
    </section>
</DefaultLayout>
