---
import DefaultLayout from "../layouts/default.astro";
---

<DefaultLayout title="Naviget - Premium Airport and Rental Rides">
    <section>
        <div class="mx-auto">
            <div
                class="min-h-dvh items-center flex justify-center backdrop-blur-md pt-[12vh] backdrop-saturate-70"
            >
                <div
                    class="grid lg:grid-cols-2 gap-8 items-center max-w-7xl px-4 pb-4"
                >
                    <div>
                        <h1
                            class="tracking-tighter text-5xl md:text-6xl font-bold my-6 leading-10 md:leading-16 font-serif"
                        >
                            Nothing fancy just reliable rides
                        </h1>

                        <a
                            type="button"
                            class="inline-flex items-center justify-center text-white bg-brand hover:bg-brand-strong box-border border border-transparent focus:ring-4 focus:ring-brand-medium shadow-xs font-medium text-base px-5 py-3 focus:outline-none lg:text-3xl transition-colors"
                            href="https://download.naviget.in?website"
                            title="Download Naviget"
                        >
                            Try Now
                            <svg
                                class="w-5 h-5 ms-1.5 -me-0.5"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                                ><path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="3"
                                    d="M19 12H5m14 0-4 4m4-4-4-4"></path></svg
                            >
                        </a>

                        <a
                            type="button"
                            class="inline-flex items-center justify-center text-blue-600 hover:bg-blue-100 hover:text-blue-900 box-border border focus:ring-4 focus:ring-brand-medium shadow-xs font-medium text-base px-5 py-3 focus:outline-none lg:text-3xl transition-colors"
                            href="https://download.naviget.in?website"
                            title="Download Naviget"
                        >
                            Book via Concierge
                            <svg
                                class="w-5 h-5 ms-1.5 -me-0.5"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                                ><path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="3"
                                    d="M19 12H5m14 0-4 4m4-4-4-4"></path></svg
                            >
                        </a>
                    </div>
                    <div>
                        <img
                            class="rounded-3xl mx-auto w-full saturate-100"
                            src="/images/rider.webp"
                            alt="Pre scheduled cabs on Naviget to travel with family and friends"
                        />
                    </div>
                </div>
            </div>

            <div class="flex justify-center min-h-[50vh] bg-neutral-primary">
                <div class="max-w-7xl items-center text-center px-4">
                    <div class="uppercase text-2xl">
                        For people who value reliability...
                    </div>
                    <div class="text-5xl md:text-6xl mt-4">
                        With No Cancellation, Transparent Fares, Professional
                        Chauffeurs, AI-powered Dashcams for added safety, and
                        24/7 "Human" support
                    </div>
                </div>
            </div>

            <div class="flex justify-center mt-20">
                <div class="max-w-7xl px-4">
                    <h2
                        class="text-center font-semibold text-gray-800 text-5xl md:text-6xl my-4"
                    >
                        Move Your
                        <span class="text-blue-900"> Way </span>
                    </h2>
                    <div class="text-gray-800 text-center text-3xl mb-10">
                        Transportation for every journey and occasion
                    </div>

                    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
                        <div class="flex flex-col">
                            <div
                                class="bg-[url(/images/airport_transfer.webp)] h-80 bg-no-repeat bg-cover rounded-base mb-5"
                            >
                            </div>
                            <h3 class="text-3xl">Airport Transfers</h3>
                            <p>
                                Arrive on time, every time. Professional
                                chauffeurs, flight tracking, and a seamless
                                airport experience.
                            </p>
                        </div>
                        <div class="flex flex-col">
                            <div
                                class="bg-[url(/images/hourly_rentals.webp)] h-80 bg-no-repeat bg-cover rounded-base mb-5"
                            >
                            </div>
                            <h3 class="text-3xl">Hourly & Daily Rentals</h3>
                            <p>
                                Stay on schedule with the same car and
                                chauffeur. Perfect for back-to-back meetings and
                                comfortable travel without the hassle of
                                switching rides.
                            </p>
                        </div>
                        <div class="flex flex-col">
                            <div
                                class="bg-[url(/images/inter_city.webp)] h-80 bg-no-repeat bg-cover rounded-base mb-5"
                            >
                            </div>
                            <h3 class="text-3xl">Inter City</h3>
                            <p>
                                Trustworthy long-distance rides for family and
                                friends. Stress-free, every trip.
                            </p>
                        </div>
                        <div class="flex flex-col bg-white">
                            <div
                                class="bg-[url(/images/hourly_rentals.webp)] bg-no-repeat bg-cover rounded-base mb-5"
                            >
                                <div
                                    class="items-center justify-center flex h-80 backdrop-blur-2xl rounded-base text-white font-bold text-3xl"
                                >
                                    Coming Soon
                                </div>
                            </div>
                            <h3 class="text-3xl">City Rides</h3>
                            <p>
                                Your daily commute for work, school, shopping
                                and more
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex justify-center gap-8 items-center mt-20 mb-10">
                <div class="max-w-7xl px-4 text-center">
                    <h2
                        class="text-center font-semibold text-heading text-5xl md:text-6xl my-4"
                    >
                        The Right vehicle,
                        <span class="text-blue-900"> Every time </span>
                    </h2>
                    <div class="text-gray-800 text-center text-3xl">
                        Ride for every journey and occasion
                    </div>
                </div>
            </div>

            <div
                class="overflow-x-scroll max-w-7xl mx-auto snap-x flex gap-8 px-2 md:px-0"
            >
                <div
                    class="shrink-0 snap-start w-100 h-120 bg-linear-to-br from-white to-30% to-gray-300 flex flex-col"
                >
                    <div class="my-5 flex flex-2">
                        <img
                            class="mx-auto mt-auto"
                            src="/images/byd_white.webp"
                        />
                    </div>
                    <div class="m-5 flex flex-col flex-1 text-black/60 text-lg">
                        <div class="flex flex-row">
                            <img class="h-8 w-8" src="/images/people.svg" />
                            <span class="p-1">4</span>
                            <img class="h-8 w-8" src="/images/luggage.svg" />
                            <span class="p-1">4</span>
                        </div>
                        <div>BYD eMax 7</div>
                    </div>
                </div>
                <div
                    class="shrink-0 snap-start w-100 h-120 bg-linear-to-br from-white to-30% to-gray-300 flex flex-col"
                >
                    <div class="m-5 flex flex-2">
                        <img
                            class="mx-auto mt-auto"
                            src="/images/mg_zs_white.webp"
                        />
                    </div>
                    <div class="m-5 flex flex-col flex-1 text-black/60 text-lg">
                        <div class="flex flex-row">
                            <img class="h-8 w-8" src="/images/people.svg" />
                            <span class="p-1">4</span>
                            <img class="h-8 w-8" src="/images/luggage.svg" />
                            <span class="p-1">3</span>
                        </div>
                        <div>MG ZS</div>
                    </div>
                </div>
                <div
                    class="shrink-0 snap-start w-100 h-120 bg-linear-to-br from-white to-30% to-gray-300 flex flex-col"
                >
                    <div class="m-5 flex flex-2">
                        <img
                            class="mx-auto mt-auto"
                            src="/images/windsor_white.webp"
                        />
                    </div>
                    <div class="m-5 flex flex-col flex-1 text-black/60 text-lg">
                        <div class="flex flex-row">
                            <img class="h-8 w-8" src="/images/people.svg" />
                            <span class="p-1">4</span>
                            <img class="h-8 w-8" src="/images/luggage.svg" />
                            <span class="p-1">3</span>
                        </div>
                        <div>MG Windsor</div>
                    </div>
                </div>
            </div>

            <div class="bg-black my-30 pt-10 md:pt-30">
                <div class="max-w-7xl mx-auto grid grid-cols-5 w-full">
                    <div
                        class="col-span-5 md:col-span-2 flex order-last md:order-first"
                    >
                        <img
                            class="mx-auto mt-auto"
                            src="/images/chauffeur_photo.webp"
                        />
                    </div>
                    <div
                        class="col-span-5 md:col-span-3 text-neutral-primary flex flex-col pl-2 pb-2"
                    >
                        <h3 class="text-5xl font-semibold mb-5">
                            Hi, I am your Chauffeur
                        </h3>
                        <div
                            class="grid grid-cols-1 md:grid-cols-2 gap-8 text-xl"
                        >
                            <div>
                                I've passed multiple background and police
                                verifications.
                            </div>
                            <div>
                                I help with luggage handling, so you don't have
                                to.
                            </div>
                            <div>
                                I don't take calls while driving. Safety comes
                                first.
                            </div>
                            <div>
                                I arrive on time and never cancel confirmed
                                rides.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex justify-center min-h-[80vh] items-center">
                <div class="w-full max-w-7xl px-4">
                    <h2
                        class="text-center font-semibold text-gray-800 text-5xl md:text-6xl my-4"
                    >
                        Premium Comes
                        <span class="text-blue-900"> Standard </span>
                    </h2>
                    <div class="text-gray-800 text-center text-3xl mb-10">
                        Comfort, convenience and care in every ride
                    </div>

                    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                        <div
                            class="flex flex-col rounded-base bg-[url(/images/seat_choice.webp)] h-80 bg-no-repeat bg-cover justify-end"
                        >
                            <div
                                class="text-2xl border m-3 rounded-base text-amber-100 p-2 backdrop-brightness-30"
                            >
                                Seat preference as per your request
                            </div>
                        </div>
                        <div
                            class="flex flex-col rounded-base bg-[url(/images/complimentary_addon.webp)] h-80 bg-no-repeat bg-cover justify-end"
                        >
                            <div
                                class="text-2xl border m-3 rounded-base text-amber-100 p-2 backdrop-brightness-30"
                            >
                                Complimentary Add Ons
                            </div>
                        </div>
                        <div
                            class="flex flex-col rounded-base bg-[url(/images/safety_first.webp)] h-80 bg-no-repeat bg-cover justify-end"
                        >
                            <div
                                class="text-2xl border m-3 rounded-base text-amber-100 p-2 backdrop-brightness-30"
                            >
                                Safety First
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bg-black pt-20 mt-20">
                <div class="max-w-7xl mx-auto w-full text-neutral-primary px-4">
                    <h2 class="text-5xl font-semibold mb-5 md:text-center">
                        Your personal Assistant
                    </h2>
                    <div
                        class="md:text-center text-xl text-neutral-secondary-strong mb-10"
                    >
                        Whatsapp Concierge
                    </div>
                    <div class="grid grid-cols-5">
                        <div
                            class="col-span-5 md:col-span-2 flex order-last md:order-first"
                        >
                            <img
                                class="mx-auto mt-auto px-5"
                                src="/images/whatsapp_concierge.webp"
                            />
                        </div>
                        <div
                            class="col-span-5 md:col-span-3 text-neutral-primary flex flex-col justify-center mb-2"
                        >
                            <h3 class="text-3xl font-bold mb-5">
                                Let us Manage
                            </h3>
                            <p class="text-lg">
                                A travel concierge Premium travel rarely fits
                                into a standard booking flow. From special
                                requests and schedule changes to personalized
                                ride arrangements, your dedicated concierge is
                                available whenever you need assistance.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pt-30 px-4">
                <div
                    class="max-w-7xl mx-auto w-full grid grid-cols-1 md:grid-cols-2 gap-10"
                >
                    <div>
                        <h2
                            class="font-semibold text-gray-800 text-5xl md:text-6xl mb-10"
                        >
                            Intelligent
                            <span class="text-blue-900"> Safeguards. </span>
                        </h2>
                        <p class="text-2xl">
                            Our AI systems monitor driver fatigue, trip
                            activity, and in-cabin conditions in real time,
                            helping maintain the highest standards of
                            professionalism, accountability, and passenger care.
                        </p>

                        <p>
                            All dashcam footage is automatically deleted within
                            15 days, unless required for incident resolution.
                        </p>
                    </div>
                    <div>
                        <img
                            class="mx-auto mt-auto"
                            src="/images/dashcam.webp"
                        />
                    </div>
                </div>
            </div>

            <div class="bg-black pt-30 my-10">
                <div class="mx-auto w-full text-neutral-primary pl-2 md:pl-20">
                    <h2
                        class="text-6xl md:text-7xl font-semibold mb-5 uppercase font-mbcorpo"
                    >
                        When only the <br />
                        <span class="text-[#E3C682]"> finest will do </span>
                    </h2>

                    <div class="grid grid-cols-1 md:grid-cols-2">
                        <div
                            class="text-neutral-primary flex flex-col justify-center mb-10"
                        >
                            <p class="text-lg lg:text-2xl">
                                Arrive in exceptional comfort aboard a
                                chauffeur-driven Mercedes-Maybach. From airport
                                arrivals to executive engagements and milestone
                                celebrations, every detail is designed around
                                discretion, elegance, and effortless luxury.
                            </p>
                        </div>
                        <div class="flex items-end">
                            <img
                                class="relative top-8 lg:top-16"
                                src="/images/maybach.webp"
                            />
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col justify-center min-h-[80vh] items-center">
                <div class="w-full max-w-7xl px-4 mb-10">
                    <h2
                        class="text-center font-semibold text-gray-800 text-5xl md:text-6xl"
                    >
                        Consistent Experience Across Cities
                    </h2>
                </div>

                <div
                    class="overflow-x-scroll snap-x flex gap-8 mx-10 max-w-[95vw]"
                >
                    <div
                        class="shrink-0 snap-start w-100 h-100 max-w-[95vw] max-h-[95vw] bg-[url(/images/blr_city.webp)] bg-contain bg-no-repeat flex flex-col"
                    >
                    </div>
                    <div
                        class="shrink-0 snap-start w-100 h-100 max-w-[95vw] max-h-[95vw] bg-[url(/images/delhi_city.webp)] bg-contain bg-no-repeat flex flex-col"
                    >
                    </div>
                    <div
                        class="shrink-0 snap-start w-100 h-100 max-w-[95vw] max-h-[95vw] bg-[url(/images/hyd_city.webp)] bg-contain bg-no-repeat flex flex-col"
                    >
                    </div>
                    <div
                        class="shrink-0 snap-start w-100 h-100 max-w-[95vw] max-h-[95vw] bg-[url(/images/mumbai_city.webp)] bg-contain bg-no-repeat flex flex-col"
                    >
                    </div>
                    <div
                        class="shrink-0 snap-start w-100 h-100 max-w-[95vw] max-h-[95vw] bg-[url(/images/pune_city.webp)] bg-contain bg-no-repeat flex flex-col"
                    >
                    </div>
                </div>
            </div>

            <div class="flex justify-center">
                <div class="max-w-7xl px-4">
                    <h2 class="text-heading text-3xl font-semobild my-4">
                        Media Coverage
                    </h2>
                    <div
                        class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
                    >
                        <div
                            class="bg-red-500 rounded-base justify-center items-center flex p-5"
                        >
                            <a
                                class="m-auto"
                                target="_blank"
                                rel="external nofollow"
                                href="https://inc42.com/startups/30-startups-to-watch-startups-that-caught-our-eye-in-may-2026/#:~:text=Naviget%20%7C%20Building%20An%20EV%2DFirst%20Airport%20Mobility%20Network"
                                title="Inc42"
                            >
                                <img
                                    class="h-auto max-w-full"
                                    src="https://inc42.com/wp-content/uploads/2018/07/inc42-logo.svg"
                                    alt="Inc42 30 startups to watch in May 2026"
                                />
                            </a>
                        </div>

                        <div
                            class="bg-white rounded-base justify-center items-center flex px-5"
                        >
                            <a
                                class="m-auto"
                                target="_blank"
                                rel="external nofollow"
                                href="https://www.globalventureplay.com/p/indias-most-loved-cab-company-is"
                                title="Global venture play"
                            >
                                <img
                                    class="m-auto sm:w-1/2"
                                    src="/images/gvp.png"
                                    alt="Global venture play - A dead startup just handed someone a market"
                                />
                            </a>
                        </div>

                        <div
                            class="bg-white rounded-base justify-center items-center flex p-5"
                        >
                            <a
                                class="m-auto"
                                target="_blank"
                                rel="external nofollow"
                                href="https://startuppedia.in/startup-stories/naviget-was-founded-by-anmol-sharma-and-yash-garg-two-bengaluru-based-entrepreneurs-11836882"
                                title="Startuppedia"
                            >
                                <img
                                    class="h-auto max-w-full rounded-base"
                                    src="https://img-cdn.publive.online/fit-in/360x160/filters:format(webp)/startuppedia/media/agency_attachments/a0o0itom23hdjpr3t3y0.png"
                                    alt="Startuppedia News Article"
                                />
                            </a>
                        </div>
                        <div class="bg-white rounded-base">
                            <a
                                target="_blank"
                                rel="external nofollow"
                                href="https://indianexpress.com/article/cities/bangalore/book-ola-rapido-namma-yatri-rides-oji-india-first-interoperable-mobility-app-9470255/"
                                title="Indian Express"
                            >
                                <img
                                    class="h-auto max-w-full rounded-base"
                                    src="/images/indian_express.webp"
                                    alt="Indian Express News Article"
                                />
                            </a>
                        </div>
                        <div class="bg-white rounded-base">
                            <a
                                target="_blank"
                                rel="external nofollow"
                                href="https://www.moneycontrol.com/technology/now-oji-app-helps-commuters-compare-fares-across-multiple-ride-hailing-apps-article-12774979.html"
                                title="Money Control"
                            >
                                <img
                                    class="h-auto max-w-full rounded-base"
                                    src="/images/money_control.webp"
                                    alt="Money Control News Article"
                                />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</DefaultLayout>
